$background-color: linear-gradient(45deg, #FFD300 0%, #FF5733 100%);
$background-color-light: linear-gradient(45deg, #CCFF00 0%, #FF61A6 100%);
$background-nav: rgb(166, 255, 0);
$background-top: #555555;
$background-top-light: rgb(255, 20, 147);
$background-login: rgb(166, 255, 0);
$background-login-light: rgb(255, 61, 130);
$background-grid: #20232a;
$background-grid-light: rgb(255, 20, 147);
$background-filter: #3e3e3e;
$background-filter-light: rgb(255, 20, 147);
$primary-color: rgb(166, 255, 0);
$secondary-color: #282c34;
$text-primary: #c0c0c0; // Subtle silver
// Font definitions
$headerFont: headerFont;
$pFont: pFont;




* {
  margin: 0;
  padding: 0;
  
  ::-webkit-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: none;
  }

}
html {
    height: 100%;
}
#app {
    height: 100vh;
    
  }
  body {
    width: 100% !important;
    font-family: $pFont; // Primary font

    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .light_mode body {
    background-image: $background-color-light;
  }
  

nav {
    z-index:1
}
.app_container {
    display: absolute;
    margin:0;
    padding: 0;
    height: 100vh;
}


.header_container {
    background-color: $background-nav;
    position: fixed;
    z-index: 999;
    @media (min-width: 768px) {
        display: none;
        visibility: hidden;
    }
}

.slider_container {
    background-color: $background-nav;
    position: fixed; 
    @media (max-width: 767.98px) {
        display: none;
        visibility: hidden;
    }
    
}

.content_container {
    
    z-index: 0;
    margin:0;
    padding: 0;
    background-color: $background-color;
    color: $primary-color;
    display: grid;
    grid-gap: 4px;
    min-height: 0;
    padding: 48px 24px 128px;
    
    @media (min-width: 768px) {
        padding: 48px 24px 48px 200px;
        margin: 0;
        width: 100%;
        display: absolute;
    }
    .content_grid {
        display: grid;
        grid-gap: 10px;
        
    }
}


.grid_container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: $background-grid;
    padding: 5px;
    border-radius: 5px;
    @media (min-width: 768px) {
        padding: 10px;
    }
}

.filter_container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: $background-filter;
    display: grid;
    padding: 10px;
    border-radius: 5px;
    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr 2fr;
        display: grid;
    }
}

.top_container {
    background-color: $background-top;
    display: grid;
    padding: 10px;
    border-radius: 5px;
    @media (min-width: 768px) {
        grid-template-columns: 10fr 1fr;
        display: grid;
    }
}
.login_container {
    color: black;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: $background-login;
    
    margin-left: 24px;
    margin-right: 24px;
    display: grid;
    margin-top: 24px;
    padding: 10px;
    border-radius: 5px;
    @media (min-width: 768px) {
        grid-template-columns: 10fr 1fr;
        display: grid;
        margin-left: 200px;
    }
}
#vault_container {
    .modal-container {
      background: linear-gradient(to bottom, #3e3e3e, $background-grid); // Metallic gradient
      border-radius: 5px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      color: $text-primary;
  
      .header-section {
        font-family: $headerFont;
        background: linear-gradient(to right, #555, $background-top); // Shaded gradient
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
        h1 {
          font-family: $headerFont;
        }
        .info-button {
          background-color: $secondary-color;
          color: $text-primary;
          border: none;
          padding: 5px 10px;
          cursor: pointer;
          &:hover {
            background-color: darken($secondary-color, 10%); // Darken on hover
            transition: background-color 0.3s ease;
          }
        }
        .apr-info {
          font-weight: bold;
        }
  
        @media (max-width: 767.98px) {
          font-size: 12px;
        }
      }
  
  
      .lock-section, .unlock-section {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .slider-wrapper {
          width: 70%;
          display: flex;
          flex-direction: column;
          align-items: center;
          .amount, .time {
            font-size: 16px;
          }
        }
  
        .button-container {
            .stake-button, .unstake-button, .collect-button {
              background-color: $secondary-color;
              color: $text-primary;
              border: none;
              padding: 10px 20px;
              cursor: pointer;
              margin: 10px 0;
              width: 100%;
              text-align: center;
              font-size: 16px;
              &:hover {
                background-color: darken($secondary-color, 10%); // Darken on hover
                transition: background-color 0.3s ease;
              }
            }
          }
        }
  
      .staked-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          font-size: 16px;
        }
      }
  
      .back-link {
        text-align: center;
        a {
          color: $text-primary;
        }
      }
  
      .info-container {
        .header-section {
          background-color: $background-filter;
          padding: 10px;
          border-radius: 5px;
        }
      }
  
      @media (min-width: 768px) {
          .slider-wrapper, .button-container {
            width: 45%;
          }
        }
      }
    }

  
  .buy-button {
    background-color: $primary-color;
    color: $text-primary;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .light_mode {
    #vault_container {
      .modal-container {
        background-color: $background-grid-light;
        .header-section {
          background-color: $background-top-light;
        }
        .info-container {
          .header-section {
            background-color: $background-filter-light;
          }
        }
      }
    }
  }
  
  
.details_wrapper {
    box-sizing: border-box;
    padding: 40px 0px;
}
.details_container {
    max-width: 1032px;
}
#light_mode_button {
    z-index: 9999;
    position: fixed;
    bottom: 10px;
    right: 14px;
    @media (min-width: 768px) {
        position: fixed;
        bottom: 20px;
        left: 24px;
    }
  }

.theme_img {
    width: 20px;
    filter: invert(1);
    transition: all 0.75s 0.25s;
    transform: rotate(0);
}
.link {
    color: rgb(255, 255, 255);
}
.light_mode {
    background-image: $background-color-light;
    color: black;
    .link {
        color: rgb(0, 0, 0);
    }
    .grid_container {
        background-color: $background-grid-light;
    }
    
    .filter_container {
        background-color: $background-filter-light;
    }
    .top_container {
        background-color: $background-filter-light;
    }
    .login_container {
        background-color: $background-login-light;
    }
    .theme_img {
        filter: invert(0);
        transform: rotate(270deg);
        animation-duration: 1s;
    }
}



@font-face {
    font-family: myFirstFont;
    src: url(./assets/fonts/c.ttf);
  }
  @font-face {
    font-family: pFont;
    src: url(./assets/fonts/h.ttf);
  }
  @font-face {
    font-family: headerFont;
    src: url(./assets/fonts/c.ttf);
  }
  @font-face {
    font-family: headerFontTwo;
    src: url(./assets/fonts/b.ttf);
  }
  @font-face {
    font-family: wildFont;
    src: url(./assets/fonts/i.ttf);
  }
